:root {

    --bs-blue: #8ABBD6;
    --bs-gray-dark: #515e6b;
    --light: #ffffff;
    --bs-dark: #56595f; 
}


body {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.bg-bs-blue {
  background-color: var(--bs-blue);
}

.form-control, .btn {
    min-height:  3.125rem;
    line-height: initial;
}

.bg-dark {
    background-color: var(--bs-dark)
}

.btn { 
    background-color:  #1690d1;
   
}

.btn:hover {
    background-color: #265baf;
    transition: all ease 0.3s;
}
